# config file for ansible -- https://ansible.com/
# ===============================================

[defaults]

[inventory]

[privilege_escalation]

[paramiko_connection]

[ssh_connection]

[persistent_connection]

[accelerate]

[selinux]

[colors]

[diff]
# Always print diff when running ( same as always running with -D/--diff )
always = yes
# Set how many context lines to show in diff
context = 5
