apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: kube-system
data:
  middlewares.yaml: |
    http:
      middlewares:
        lanonly:
          ipWhiteList:
            sourceRange:
              - 172.16.69.0/24
  octoprint.yaml: |
    http:
      routers:
        octoprint:
          rule: Host(`octoprint.lan.jibby.org`)
          service: octoprint
          middlewares:
            - "lanonly"
          entrypoints:
            - "websecure"
      services:
        octoprint:
          loadBalancer:
            servers:
              - url: http://172.16.69.49
  pikvm.yaml: |
    http:
      routers:
        pikvm:
          rule: Host(`pikvm.lan.jibby.org`)
          service: pikvm
          middlewares:
            - "lanonly"
          entrypoints:
            - "websecure"
      services:
        pikvm:
          loadBalancer:
            serversTransport: "pikvm"
            servers:
              - url: https://172.16.69.240
      serversTransports:
        pikvm:
          insecureSkipVerify: true
  proxmox.yaml: |
    http:
      routers:
        proxmox:
          rule: Host(`proxmox.lan.jibby.org`)
          service: proxmox
          middlewares:
            - "lanonly"
          entrypoints:
            - "websecure"
      services:
        proxmox:
          loadBalancer:
            serversTransport: "proxmox"
            servers:
              - url: https://172.16.69.253:8006
      serversTransports:
        proxmox:
          insecureSkipVerify: true
