# A service that calls 'mount -a' until success
# 
# Since neither systemd-mount or the ceph mount module have retry logic, this ensure CephFS is
# is mounted at boot time.  
#  See https://github.com/systemd/systemd/issues/4468#issuecomment-453386363

[Unit]
Description=Ensure the ceph mount succeeds
Requires=ceph.target
StartLimitInterval=200
StartLimitBurst=20

[Service]
Type=simple
ExecStart=/usr/bin/mount -a
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
