# https://github.com/vmware-tanzu/helm-charts/blob/velero-11.3.2/charts/velero/values.yaml

kubectl:
  image:
    repository: public.ecr.aws/bitnami/kubectl

deployNodeAgent: true

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.13.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins

configuration:
  backupStorageLocation:
  - name: default
    provider: "velero.io/aws"
    bucket: "velero"
    default: true
    # validationFrequency defines how frequently Velero should validate the object storage. Optional.
    validationFrequency:
    # accessMode determines if velero can write to this backup storage location. Optional.
    # default to ReadWrite, ReadOnly is used during migrations and restores.
    accessMode: ReadWrite
    credential:
      # name of the secret used by this backupStorageLocation.
      name: velero-aws
      # name of key that contains the secret data to be used.
      key: credentials
    # Additional provider-specific configuration. See link above
    # for details of required/optional fields for your provider.
    config:
      s3Url: https://s3.bnuuy.org:8443
      #region: default
    # s3ForcePathStyle:
    #  kmsKeyId:
    #  resourceGroup:
    #  The ID of the subscription containing the storage account, if different from the cluster’s subscription. (Azure only)
    #  subscriptionId:
    #  storageAccount:
    #  publicUrl:
    #  Name of the GCP service account to use for this backup storage location. Specify the
    #  service account here if you want to use workload identity instead of providing the key file.(GCP only)
    #  serviceAccount:
    #  Option to skip certificate validation or not if insecureSkipTLSVerify is set to be true, the client side should set the
    #  flag. For Velero client Command like velero backup describe, velero backup logs needs to add the flag --insecure-skip-tls-verify
    #  insecureSkipTLSVerify:

    # annotations allows adding arbitrary annotations to this BackupStorageLocation resource. Optional.
    annotations: {}

  ## Parameters for the VolumeSnapshotLocation(s). Configure multiple by adding other element(s) to the volumeSnapshotLocation slice.
  ## See https://velero.io/docs/v1.6/api-types/volumesnapshotlocation/
  volumeSnapshotLocation: []
  #  # name is the name of the volume snapshot location where snapshots are being taken. If a name is not provided,
  #  # a volume snapshot location will be created with the name "default". Optional.
  #- name:
  #  # provider is the name for the volume snapshot provider.
  #  provider: ""
  #  credential:
  #    # name of the secret used by this volumeSnapshotLocation.
  #    name:
  #    # name of key that contains the secret data to be used.
  #    key:
  #  # Additional provider-specific configuration. See link above
  #  # for details of required/optional fields for your provider.
  #  config: {}
  ##    region:
  ##    apiTimeout:
  ##    resourceGroup:
  ##    The ID of the subscription where volume snapshots should be stored, if different from the cluster’s subscription. If specified, also requires `configuration.volumeSnapshotLocation.config.resourceGroup`to be set. (Azure only)
  ##    subscriptionId:
  ##    incremental:
  ##    snapshotLocation:
  ##    project:

  #  # annotations allows adding arbitrary annotations to this VolumeSnapshotLocation resource. Optional.
  #  annotations: {}

  defaultVolumesToFsBackup: true

  features: EnableCSI
