# https://github.com/vmware-tanzu/helm-charts/blob/velero-11.3.2/charts/velero/values.yaml

kubectl:
  image:
    repository: public.ecr.aws/bitnami/kubectl

deployNodeAgent: true

configuration:
  defaultVolumesToFsBackup: true
#  features: EnableCSI
